flows_contextSample.json
[{"type":"tab","id":"d7adb538.285248","label":"flow1"},{"type":"tab","id":"19a9580a.e656a8","label":"flow2"},{"id":"643df971.9bc208","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[{"id":"7624e847.89db18"}]}],"out":[]},{"id":"a38ac584.5c7538","type":"inject","z":"d7adb538.285248","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180.5,"y":114,"wires":[["ac7ace4f.53853"]]},{"id":"ac7ace4f.53853","type":"function","z":"d7adb538.285248","name":"node1","func":"var count = context.get('count') || 0;\ncount += 1;\ncontext.set('count',count);\nnode.log('flow1-node1    count :' + context.get('count'));\n\nvar flowContext = context.flow;\nvar fcount = flowContext.get('fcount') || 0;\nfcount += 1;\nflowContext.set('fcount',fcount);\nnode.log('flow1-node1    fcount:' + fcount);\n\nvar globalContext = context.global;\nvar gcount = globalContext.get('gcount') || 0;\ngcount += 1;\nglobalContext.set('gcount',gcount);\nnode.log('flow1-node1    gcount:' + gcount);\n\nmsg.payload = {\n    \"foo\": 123,\n    \"bar\": \"hoge\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":342.5,"y":125,"wires":[["ac08cdb7.53f73"]]},{"id":"ac08cdb7.53f73","type":"function","z":"d7adb538.285248","name":"node2","func":"var count = context.get('count')  || 0;\nnode.log('flow1-node2    count :' + count);\n// msg.payload[\"count\"] = count;\n\nvar fcount = context.flow.get('fcount')  || 0;\nnode.log('flow1-node2    fcount:' + fcount);\n// msg.payload[\"fcount\"] = fcount;\n\nvar gcount = context.global.get('gcount') || 0;\nnode.log('flow1-node2    gcount:' + gcount);\n// msg.payload[\"gcount\"] = gcount;\n\nreturn msg;","outputs":1,"noerr":0,"x":498.5,"y":121,"wires":[["57799afc.a88664","bb2cb0f8.44d35"]]},{"id":"57799afc.a88664","type":"debug","z":"d7adb538.285248","name":"","active":true,"console":"false","complete":"false","x":674.5,"y":117,"wires":[]},{"id":"b371a5a9.4c8e58","type":"inject","z":"19a9580a.e656a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":136,"y":127,"wires":[["b2e14b26.4d1eb8"]]},{"id":"24b16304.db4e9c","type":"debug","z":"19a9580a.e656a8","name":"","active":true,"console":"false","complete":"false","x":630,"y":130,"wires":[]},{"id":"b2e14b26.4d1eb8","type":"function","z":"19a9580a.e656a8","name":"node1","func":"var count = context.get('count')  || 0;\nnode.log('flow2-node2 count :' + count);\nmsg.payload[\"count\"] = count;\n\nvar fcount = context.flow.get('fcount')  || 0;\nnode.log('flow2-node2 fcount:' + fcount);\nmsg.payload[\"fcount\"] = fcount;\n\nvar gcount = context.global.get('gcount') || 0;\nnode.log('flow2-node2 gcount:' + gcount);\nmsg.payload[\"gcount\"] = gcount;\n\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":131,"wires":[["24b16304.db4e9c"]]},{"id":"510f15af.aef0ec","type":"debug","z":0,"name":"","active":true,"console":"false","complete":"false","x":714,"y":91,"wires":[]},{"id":"95ba1964.6a45e8","type":"debug","z":"643df971.9bc208","name":"","active":true,"console":"false","complete":"false","x":449,"y":81,"wires":[]},{"id":"7624e847.89db18","type":"function","z":"643df971.9bc208","name":"node1","func":"var count = context.get('count')  || 0;\nnode.log('Subflow1-node2 count :' + count);\nmsg.payload[\"count\"] = count;\n\nvar fcount = context.flow.get('fcount')  || 0;\nnode.log('Subflow1-node2 fcount:' + fcount);\nmsg.payload[\"fcount\"] = fcount;\n\nvar gcount = context.global.get('gcount') || 0;\nnode.log('Subflow1-node2 gcount:' + gcount);\nmsg.payload[\"gcount\"] = gcount;\n\nreturn msg;","outputs":1,"noerr":0,"x":205,"y":45,"wires":[["95ba1964.6a45e8"]]},{"id":"bb2cb0f8.44d35","type":"subflow:643df971.9bc208","z":"d7adb538.285248","x":668.5,"y":187,"wires":[]}]